doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Executive Report
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
  script(src='../index.js')
  script(src='../controllers/web.js')
  script(src='../controllers/TableCSVExporter.js')
  style
    include ../style/main.css
  style
    include ../style/table.css
nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') Executive Summary
  input.form-control.form-control-dark.w-100(type='text' placeholder='Search' aria-label='Search')
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link(href='#') Sign out
.container-fluid
  .row
    nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      .sidebar-sticky
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(href='#')
              span(data-feather='home')
              |               Dashboard 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/amfam')
              span(data-feather='file')
              |               AmFam Status
          li.nav-item
            a.nav-link(href='/products')
              span(data-feather='shopping-cart')
              |               Products
          li.nav-item
            a.nav-link(href='/companies')
              span(data-feather='users')
              |               Customers
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='bar-chart-2')
              |               Reports
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='layers')
              |               Integrations
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          span Saved reports
          a.d-flex.align-items-center.text-muted(href='#' aria-label='Add a new report')
            span(data-feather='plus-circle')
        ul.nav.flex-column.mb-2
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Current month
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Last quarter
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Social engagement
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Year-end sale
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Dashboard
        .btn-toolbar.mb-2.mb-md-0
          .btn-group.mr-2
            button.btn.btn-sm.btn-outline-secondary(type='button') Share
            button.btn.btn-sm.btn-outline-secondary(type='button') Export
          button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
            span(data-feather='calendar')
            |             This week
      canvas#myChart.my-4.w-100(width='900' height='380')
      h2 Projects
      .table-responsive
        table#dataTable.table.table-striped.table-sm
          thead
            tr
              th Project Name
              th ID
              th Key
              th Category
          tbody
          for project in updatedProject
            tr
              td #{project.name} 
              td #{project.id} 
              td #{project.key} 
              td #{project.Category} 
          