doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Issue
  // plugins:css
  style
    include ../style/table.css
  link(rel='stylesheet' href='../style/table.css')
  link(rel='stylesheet' href='assets/vendors/css/vendor.bundle.base.css')
  link(rel='stylesheet' href='assets/css/style.css')
  link(rel='shortcut icon' href='assets/images/favicon.png')
  script(src='./index.js')
  script(src='./controllers/web.js')
#table-wrapper
  table#desc
    thead
      tr
        th Created
        th ID
        th Key
        th Status
    tbody
    for issue in selectedData
       tr
        td #{issue.created} 
        td #{issue.id} 
        td #{issue.key} 
        td #{issue.status}

